<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/css/default.css")" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-primary px-0 pt-4">
    <div class="container mb-4 col-8 offset-2 ">
        <a href="@Url.Content("~/Default.aspx")" runat="server">
            <img ID="logoImg" src="~/Images/title-strength-level.svg" height="40" class="my-2" alt="Page Logo" />
        </a>
        <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center text-center font-weight-bold my-4 rounded">
            <ul class="navbar-nav">
                <li class="nav-item mx-5">
                    <a id="bpressNav" class="nav-link" href="/Bench.aspx">Benchpress</a>
                </li>
                <li class="nav-item mx-5">
                    <a id="deadNav" class="nav-link" href="/Home/MvcDeadlift">Deadlifts</a>
                </li>
                <li class="nav-item mx-5">
                    <a id="squatNav" class="nav-link" href="/Management/Squat.aspx">Squat</a>
                </li>
            </ul>
        </nav>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>

        <div class="container body-content px-0">
            @RenderBody()
            <hr />

        </div>
    </div>
    <footer class="footer">
        <p class="copy-anim">
            Casey Boller - bolce002 - 2019
            <img src="@Url.Content("~/Images/copy.png")" alt="copyright symbol" runat="server" height="30" />
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
